/* *{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
} */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;1,400&display=swap');

::-webkit-scrollbar{
  width: 6px;
}
::-webkit-scrollbar-track{
  border: none;
  background-color: #242424;
}
::-webkit-scrollbar-thumb {
  background: rgb(245, 245, 245);
  height: 2rem !important;
  border-radius: 3px;
}

.app-main {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 70px 0 30px 0;
  font-family: Poppins;
}
.app-input {
  height: 30px;
  width: 400px;
  margin: 20px;
  border: none;
  outline: none;
  padding: 10px;
  caret-color: white;
}

.app-input::placeholder,
textarea::placeholder {
  color: white;
}
.result-image {
  margin-top: 20px;
  width: 400px;
}
@media screen and (max-width: 767px) {
  .result-image {
    width: 90%;
  }
  .app-input {
    width: 95%;
  }
}

#root {
  width: 90%;
  /* margin: 0 auto; */
  /* padding: 2rem; */
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 3rem;
}
.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.heading {
  font-family: Poppins;
}

.grid-main {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
  margin-top: 40px;
}

.grid-child {
  border: 2px solid whitesmoke;
  border-radius: 15px;
  padding: 10px;
  cursor: pointer;
}

.grid-child:hover {
  background-color: whitesmoke;
  color: #212121;
}

.grid-child h3 {
  font-family: Poppins;
  font-weight: 700;
}

.grid-child p {
  font-family: Poppins;
  font-weight: 500;
  font-size: 15px;
}

.text-area {
  font-size: 20px;
  padding: 10px;
  font-family: Poppins;
  resize: none;
}

.action-btn {
  width: 200px;
  height: 50px;
  font-size: 20px;
  margin-top: 20px;
  cursor: pointer;
}

.result-text {
  font-family: Poppins;
  font-size: 25px;
  line-height: 2.5rem;
}

@media screen and (max-width: 767px) {
  .grid-main {
    grid-template-columns: repeat(1, 1fr);
  }
  .text-area {
    width: 100%;
  }
  .result-text {
    font-size: 20px;
  }
}

@media screen and (max-width: 576px) {
  .result-text{
    font-size: 16px;
  }
}